.col-md-12, header {
    text-align: left;
}

h1 {
    color: rgb(37, 151, 172);
    padding-top: 30px;
}

h2 {
    color: rgb(37, 151, 172);
    padding-top: 30px;
}

h3 {
    color: rgb(37, 151, 172);
    padding-top: 30px;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

body {
    background-color: rgb(194, 217, 240) !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.left {
    color: rgb(0, 0, 0);
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    line-height: 30px;

}

.sidebar {
    background-color: white;
    padding-left: 20px;
}

.col {
   padding-bottom: 30px;
}

#image {
   width: 250px;
   height: 250px;
   float:left;
   margin-right: 30px;
   margin-bottom: 20px;
 }

img {
   width: 100%;
   height: 100%;
}

hr {
    padding-bottom: 20px;
}

.thumbnail {
    width: 150px;
    height: 150px;
}

.caption {
    text-align: center;
}

.comparison {
    text-align: center;
    padding-bottom: 20px;
}

